@page
@model PetSearch.Pages.FoundPetsAdm.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>REQUESTS</h1>
<table class="table" id="form_pet">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoundPet[0].LastSeenAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundPet[0].Cellphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundPet[0].ImagePet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FoundPet) {
        @if (@Html.DisplayFor(modelItem => item.Status) == 1)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeenAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cellphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePet)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Accept Request</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Reject Request</a>
            </td>
        </tr>
        }
}
    </tbody>
</table>
